* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main {
  width: 70%;
}

body main nav {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main nav .nav-logo {
  margin-left: 1rem;
  opacity: 0;
}

body main nav .nav-logo img {
  width: 2rem;
}

body main nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main nav ul li {
  font-size: 0.75rem;
  margin: 1rem 0.5rem;
}

body main nav ul li.line {
  width: 1px;
  height: 1rem;
  background-color: gray;
  opacity: 0.8;
}

body main nav div {
  margin: 1rem 0.5rem;
  border-bottom: 1px solid gray;
}

body main nav div input {
  border: none;
}

body main .head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

body main .head-container .nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .head-container .nav-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .head-container .nav-left ul li {
  margin: 1rem 0.5rem;
}

body main .head-container .nav-left ul li.line {
  width: 1px;
  height: 1rem;
  background-color: gray;
}

body main .head-container .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .head-container .nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .head-container .nav-right ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .head-container .nav-right ul li a {
  color: white;
  padding: 1rem 1rem;
}

body main .head-container .nav-right ul #corp {
  background-color: #d7d7d7;
}

body main .head-container .nav-right ul #member {
  background-color: #b9b9b9;
}

body main .head-container .nav-right ul #qa {
  background-color: #919191;
}

body main .head-container .nav-right ul #shop {
  background-color: #696969;
}

body main .head-container .nav-right ul #news {
  background-color: #3c3c3c;
}

.slideshow .slide-container {
  width: 100%;
  position: relative;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.slideshow .slide-container .mySlides {
  display: none;
}

.slideshow .slide-container .mySlides img {
  width: 100%;
  cursor: pointer;
}

.slideshow .slide-container .prev,
.slideshow .slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px 15px;
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slideshow .slide-container .next {
  right: 0;
}

.dots {
  cursor: -webkit-grab;
  cursor: grab;
}

.dots .dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dots .active {
  background-color: #717171;
}

.member-month {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.member-month img {
  width: 100%;
}

.noti {
  width: 100%;
  margin: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.noti div {
  width: 800px;
}

.noti div a {
  text-decoration: underline;
}

.classification {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.classification div .cn {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.classification div .eng {
  font-size: 15px;
  margin: 0 3px;
  -webkit-box-shadow: 0px 1px 1px gray;
          box-shadow: 0px 1px 1px gray;
}

.event-title {
  font-size: 36px;
  margin-top: 3rem;
}

.event-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.event-container .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
}

.event-container .event div {
  margin: 0 0.5rem;
}

.event-container .event div img {
  width: 100%;
}

.event-container .event div p {
  font-size: 0.875rem;
  font-weight: lighter;
  margin-top: 0.5rem;
}

#pics-title {
  font-size: 36px;
  margin-top: 3rem;
}

.pics-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pics-section .pics-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pics-section .pics-row div {
  width: 48.5%;
  margin: 1rem 0;
  cursor: pointer;
}

.pics-section .pics-row div img {
  width: 100%;
}

.pics-section .pics-row div p {
  font-size: 15px;
  font-weight: lighter;
}

.pics-section .more-button {
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid black;
  padding: 1rem 20rem;
  margin-top: 3rem;
}

.about-lifewear {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 36px;
}

.lifewear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lifewear div {
  width: 23%;
}

.lifewear div img {
  width: 100%;
}

.lifewear div p {
  font-size: 14px;
  font-weight: lighter;
}

footer {
  width: 70%;
  height: 25vh;
  margin-top: 5rem;
}

footer .footer-links a {
  font-size: 0.8125rem;
}

footer .footer-links .footer-link {
  border-right: 1px solid black;
  padding: 0 1rem;
}

footer .footer-links .footer-link-head {
  border-right: 1px solid black;
  padding-right: 1rem;
}

footer .footer-links .footer-link-tail {
  padding-left: 1rem;
}

footer .copyright {
  font-size: 0.8125rem;
  font-weight: lighter;
}

footer .footer-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-logos a {
  margin: 0 0.5rem;
}

footer .footer-logos a :hover {
  opacity: 0.8;
}

.top-button {
  position: fixed;
  z-index: 99;
  bottom: 100px;
  right: 100px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  display: none;
  border: none;
}

@media screen and (max-width: 1070px) {
  .main {
    width: 90%;
  }
  nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav ul .line {
    display: none;
  }
  nav ul li {
    margin: 0;
  }
  nav div {
    width: 100%;
    margin: 0;
  }
  .head-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .head-container .nav-left,
  .head-container .nav-right {
    width: 100%;
  }
  .head-container .nav-right .grey-button {
    height: 70%;
  }
  .event-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .event-container .event {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .pics-section .pics-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .pics-section .pics-row div {
    width: 100%;
  }
  .pics-section .more-button {
    padding: 1rem 5rem;
  }
  .lifewear {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .lifewear div {
    width: 100%;
  }
  .top-button {
    bottom: 30px;
    right: 30px;
  }
}
/*# sourceMappingURL=styles.css.map */